[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503, D100, D101, D102, D104, D106, D212
exclude =
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */.venv/*,
    */env/*,
    */build/*,
    */dist/*,
    .eggs,
    *.egg
max-complexity = 10
per-file-ignores =
    __init__.py:F401,D104
    */settings.py:E501
    */admin.py:F401
    */tests.py:F401
